# Laravel & PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key

# Environment & cache
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
auth.json
npm-debug.log
yarn-error.log
.phpactor.json

# IDE & tools
/.idea
/.vscode
/.fleet
/.vagrant

# Homestead
Homestead.json
Homestead.yaml

# Laravel 4 legacy
bootstrap/compiled.php
app/storage

# Laravel 5 & Lumen
/storage/pail
